#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.centerTop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*start new css here */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.centerTop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*start new css here */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.centerTop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*start new css here */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: maroon;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}
.centerTop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  display: flex;
}

.left {
  margin-right: 20px; /* Adjust the margin as needed */
}

.topLeft {
  /* position: absolute;*/
  top: 18%;
  left: 0;
  margin: 10px;
  z-index: 3;
}

.centerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
  margin-top: 2px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust the height as needed */
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.topCenter {
  z-index: 3;
  position: absolute;
  text-align: center;
  top: 18%; /* Adjust the margin as needed */
  left: 40%;
}

.right {
  text-align: right;
  margin-top: 10px; /* Adjust the margin as needed */
}

.topRight {
  position: absolute;
  top: 0%; /* Adjust the top margin as needed */
  right: 0;
  margin: 10px;
  text-align: right;
  z-index: 2;
}

.titlebannerstyle {
  position: absolute;
  top: 0%;
  right: 30%;
  width: auto ;
  height: 100px;
  font-weight: bold;
  font-size: 45px;
  background-color: red,white, blue; /* Add your desired background color */
  color: black; /* Add your desired text color */
 
  z-index: 2;
}


.checkboxSet {
  position: absolute;
  margin-top: 0px; /* Adjust the margin as needed */
  top: 20%; /* Adjust the top margin as needed */
  right: 0;
}

.checkboxSet.right {
  position: absolute;
  /* float: right;
  margin-right: 20%; /* Adjust the margin as needed */
  top: 25%; /* Adjust the top margin as needed */
  right: 0;
  z-index: 5;
}

.card.upperRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px; /* Adjust the width as needed */
}
.topLeft {
  /* Add any styles you want for the top left element */
  position: absolute;
  top: 20%;
  left: 0;
}

.topLeftBelow {
  /* Add any styles you want for the element below the top left */
  position: absolute;
  top: 40px; /* Adjust the value based on your design */
  left: 0;
}

p {
  background-color: white;
}

.network-graph-container {
  width: 840px;
  height: 600px;
  border: 1px solid #ddd;
  margin: 20px;
  background-color: black;
}

.graph-title {
  position: absolute;
  background-color: black;
  left: 26%;
  top: 40%;
}

/* Add the following style for the divider line, red line
body::before {
  content: '';
  display: block;
  position: absolute;
  top: 18%;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: red;
} */
/* 
body::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 25%; // Set the position of the vertical line 
  width: 1px; // Width of the line 
  height: 100%; // Height of the line 
  background-color: blue;
} */
h1 {
  font-weight: 1000;
  font-size: 1.5rem;
}

.box {
  border: 10px solid black; /* Border color and width */
  padding: 10px; /* Padding inside the box */
  border-radius: 5px; /* Optional: Rounded corners */
}
/*Mainly used css to modify component locations and change where they were. Also added the divider lines using them */


